extends layout

block content
  each article in articles
    article.article.intro
      header
        p.date
          span= moment.utc(article.date).format('DD. MM YYYY')
        h2
          a(href=article.url)= article.title
      section.content
        if article.intro.length > 0
          | !{ typogr(article.intro).typogrify() }
        if article.hasMore
          p.more
            a(href=article.url) leer

block prepend footer
  div.nav
    if prevPage
      a(href=prevPage.url) « anterior
    else
      a(href='/vieux.html') « todos los posts
    if nextPage
      a(href=nextPage.url) siguiente »



